<!-- PENDING -->
<div class="container mt-5">
  <br>
  <h1>Pending</h1>
  <% if @pending_bookings.count > 0 %>
    <%= render 'pending' %>
  <% else %>
    <p>You don't have any pending bookings.</p>
  <% end %>
</div>

<!-- ACCEPTED -->
<div class="container mt-5">
  <br>
  <h1>Accepted</h1>
  <% if @accepted_bookings.count > 0 %>
    <%= render 'accepted' %>
  <% else %>
    <p>You don't have any accepted bookings.</p>
  <% end %>
</div>

<!-- REJECTED -->
<div class="container mt-5">
  <br>
  <h1>Rejected</h1>
  <% if @rejected_bookings.count > 0 %>
    <%= render 'accepted' %>
  <% else %>
    <p>You don't have any rejected bookings.</p>
  <% end %>
</div>
