<div class="footer navbar-fixed-bottom d-flex">
  <div class="container">
    <div class="row justify-content-between">
      <nav>
        <ul>
          <li> <%= link_to "Contact Us", "#" %></li>
          <li> <%= link_to "Terms of Use", "#" %></li>
          <li> <%= link_to "Privacy Policy", "#" %></li>
          <li> <%= link_to "About Us", "#" %></li>
        </ul>
      </nav>
      <div class="logos">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook "></i></a>
        <a href="#"><i class="fab fa-twitter "></i></a>
        <a href="#"><i class="fab fa-linkedin "></i></a>
      </div>
    </div>
  </div>
</div>
