<div class="page d-flex">
  <div class="solid">
    <div class="solid-card d-flex flex-column">
      <div class="text">
        <h1>At Loch Ness we believe in second chances</h1>
        <h1>...even for monsters</h1>
      </div>
    </div>

  </div>
  <div class="outline">
    <div class= "outline-card">
          <h1>Make a friend</h1>
          <h1 class="mb-3">Find a monster...</h1>
          <form action="/items" method="get">
              <div class="d-flex" style= "width: 320px">
                <input type="text" name="location" class="form-control" id="inputLocation" placeholder="Search near you...">
                <input type="submit" value="Search" class="primarybtn">
              </div>
          </form>
      <br>
      <%= image_tag "https://res.cloudinary.com/syrashid/image/upload/v1565867833/monster_copy_bvatf1.png", height: 250, class: "mt-5"%>
    </div>
  </div>
</div>
