<h1>Ugly is OK</h1>

<img src="https://www.explainxkcd.com/wiki/images/7/7a/goto.png" alt="">
<br>
<img src="https://i0.wp.com/s3.amazonaws.com/production-wordpress-assets/blog/wp-content/uploads/2015/03/7.png?resize=413%2C360&ssl=1" alt="">
