<div class="form border border-secondary rounded-lg p-3">
  <form>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <span class="form-label">From:</span>
          <input class="form-control" type="date" required="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <span class="form-label">To:</span>
          <input class="form-control" type="date" required="">
        </div>
      </div>
      <div class="col-sm-6 m-auto d-flex align-middle">
        <p class="align-middle m-0" style="display: inline"><strong>Total: &nbsp</strong> </p>
        <h5 class="align-middle m-0" style="display: inline"><%= 2 * @item.price %> €</h5>
      </div>
    </div>
    <div class="row m-0">
      <button class="btn btn-primary btn-lg btn-block">Hire <%= @item.name %>!</button>
    </div>
  </form>
</div>
