.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 15px;
}

.card {
  background-size: cover;
  background-position: center;
  // height: 150px;
  // border-radius: 1px;
  // margin: 15px 10px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // font-size: 25px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
}


@media (max-width: 1200px){
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 976px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px){
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
