.hero {
  background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://res.cloudinary.com/syrashid/image/upload/v1565780986/1492831864098-9eebe0b9243e_mzolqu.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 100px;
}
