.solid {
  background-color: $green;
  height: 100vh;
  width: 60vw;
  .solid-card {
    color: white;
    padding-top: 300px;
    padding-right: 250px;
    padding-left: 180px;
    padding-bottom: 50px
  }
  .text {
    margin-bottom: 130px;
  }
}

.outline {
  background-color: $white;
  height: 100vh;
  width: 40vw;
  padding-top: 300px;
  padding-left: 120px;
  padding-bottom: 50px;
  .outline-card {
    color: $green;
    margin: 0 auto;
  }
}

