.navbar-lewagon {
  justify-content: space-between;
  background: #315545;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-filter {
  margin-top: 45px;
  background: #315545;
}
